@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

html {
    margin: 0;
    padding: 0;
}

body {
    background: #CCC;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-size: 18px;
    line-height: 26px;
}

/* Layout */
#wrapper {
    background: #EAEAEA;
    width: 960px;
    margin: 0 auto;
}

#header {
    background: #4CDEFF;
    overflow: hidden;
    background-size: cover;
    padding: 20px;
}

.content {
    background: #FFF;
    width: 657.5px;
    vertical-align: top;
    padding: 20px;
    display: inline-block;
}

.sidebar {
    width: 219px;
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    border: 1px solid right;
}

.sidebar ul {
    list-style: none;
    list-style-position: inside;
    margin: 0 0 20px 0;
    padding: 0;
}

.sidebar ul li ul {
    margin-left: 20px;
}

.sidebar li {
    color: #666;
    font-size: 12px;
}

.sidebar li.active {
    font-weight: bold;
    color: #000;
}

.sidebar h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    margin-bottom: 2px;
    font-size: 20px;
    border-bottom: 1px dotted #CCC;
}

/* Text Styles */
h1.logo {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 30px;
    line-height: 38px;
    color: #333;
}

h1 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 36px;
    line-height: 40px;
    color: #333;
}

h2{
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 26px;
    line-height: 40px;
    color: #333;
}

h3 {

}

h4 {
    margin: 0 0 10px 0;
}

h5 {
    margin: 0;
}

table {
    width: 100%;
}

p {
    color: #666;
}

strong {
    color: #333;
}

li {
    color: #666;
}

a {
    color: #008cdd;
    text-decoration: none;
}

a:hover {
    color: #008cdd;
    text-decoration: underline;
}